.card-component{
    width: 80%;
    height: auto;
    border: 1px solid #ccc ;
    border-radius: 30px;
    margin: 3%;
    background-color: blue;
    padding: 2% 7%;
}

img {
    width: 100%;
    object-fit: cover
}